.button {
    background-color: rgb(24, 53, 169);
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

body{
    text-align: center;
}

#buttonNav{
    text-align: center;
} 

.form{
    padding-top:20px ;
    padding-bottom: 30px;
}

.ul{
    text-align: center;
    list-style-position: inside;
}

#webView{
    margin: auto;
    border: 3px solid;

}